# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Auth / Config
.env
secrets.toml
*.key
*.pem

# Data
*.csv
*.xlsx
*.bak
*.tmp
debug.log

# Users
users.json
